@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #00ffcc66;
  --color-button-primary-hover: #38F2C4;
  --color-secondary: #4285F4;
  --color-button-secondary-hover: #3A7DE1;

  --font-grotesk: 'Grotesk', sans-serif;
}
